body {
  position: relative;
  height: 100vh;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}


.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg-ub2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  font-size: 5rem;
  color: #fff;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #dc4225, #002f4b);
  /* background-image: linear-gradient(to bottom right, #792111, #3d5767); */

  opacity: .4;

}